<header class="main-header">
    <div >    
        <img class="logo-header" src="/images/logo-deconstruct (500 × 250 px) (1).png" alt="Logo de Deconstruct">
    </div>
    <div class="main-header-right">
        <div>
           <a href="#" class="search-button"></a>
           <i class="fas fa-search"></i>  
        </div>
        <div > 
           <a href="#" class="user-button"></a>
           <i class="fas fa-user"></i>
        </div>
        <div>
            <a href="#" class="shopping-cart"></a> 
            <i class="fas fa-shopping-cart"></i>      
        </div>
        <div > 
            <a href="#" class="hamburguer-button"></a>
            <i class="fas fa-bars"></i>
        </div>
    </div>        
</header>