<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styles_products_create.css">
    <body>
        <%- include('../partials/header.ejs') %>
    <main>
            <div class="create-title">    
                <label for="chk" aria-hidden="true">Producto Creado</label>
            </div>
            <div class="create-group" >
                            
                    <div class="buttonConfirm">
                        <a href="./create" >
                            <input type="submit" value="Crear Nuevo Producto">
                        </a>
                    </div>
                    <div class="buttonConfirm">
                        <a href="/" >
                            <input type="submit" value="Aceptar y Volver al Inicio">
                        </a>
                    </div>
              
            </div>
        </main>
  
        <%- include('../partials/footer.ejs') %>
    
</body>
