<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="/css/styles_productsList.css" />
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <div class="shopping-cart-title">
        <label for="chk" aria-hidden="true"><%=products.tittle%></label>
      </div>
      <script src="/js/shoppingCartNproducts.js"></script> 
      <div >
        <div>
            <!-- Elementos generados a partir del JSON -->
            <main id="items" ></main>  
        </div>
    </div>     
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
