
<div class="courses-cart"> 
    <div class="courses-cart-item"> 
        <a href="./products/show" >
            <img class="courses-images-cart" src="/images/productImages/<%= product.image ? product.image : 'default.png' %>" alt=""> 
        </a>
        <div class="courses-cart-descrip" >  
            <h2 class="courses-cart-name" > <%= product.productName %> </h2> 
            <div class="price-cart">
                <h2 class="courses-cart-name" > <%= product.productDescription %> </h2> 
            </div>
            <div class="price-cart">
                <h2 class="courses-cart-name" > <%= product.productPrice %> </h2> 
            </div>
        </div>
    </div> 
</div>                
