* {
  box-sizing: border-box;
}

.main-header {
  background-color: #d6c9c1;
  font-family: "antonio";
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1px 20px 1px 1px;
  position: fixed;
}

.logo-header {
  width: 40%;
}

.main-header-right {
  display: flex;
  font-size: 3.5vw;
  width: 80vw;
  justify-content: space-around;
  align-items: center;
}

.main-header-right i {
  color: white;
}

main {
  margin: auto;
  background-color: white;
  font-family: "antonio";
  display: flex;
  text-align: center;
  width: 100%;
  padding: 50px 7px 30px 7px;
}
.banner img {
  width: 100%;
  max-width: 1100px;
  padding: 15px;
}
.courses {
  margin: auto;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px;
  max-width: 1250px;
}
.courses-cart {
  margin: auto;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px;
}
.shopping-cart-title {
  color: white;
  font-size: 1.5em;
  justify-content: center;
  font-weight: bold;    
  background-color: #d6c9c169;
  width: 100%;
  text-align: center;
  padding: 4px;
  box-shadow: 0px 3px 10px rgba(100, 100, 100, 0.37);
  border-radius: 5px;
}
.courses-images {
  width: 100%;
  background-color: #fff4e4;
  align-items: stretch;
  justify-content: center;
  border: #fff4e4 4px solid;
  border-radius: 8px;
  padding: 10px;
  max-width: 250px;
}
.courses-images-cart {
  width: 120px;
  height: 120px;
  background-color: #fff4e4;
  align-items: stretch;
  justify-content: left;
  border: #fff4e4 4px solid;
  border-radius: 8px;
}
.courses-cart-item {
  margin: auto;
  width: 100%;
  margin: 4px;
  color: #d6c9c1;
  max-height: 140px;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 10px;
  box-shadow: 0px 3px 10px rgba(100, 100, 100, 0.527);
  border-radius: 12px;
  
}

.courses-cart-descrip {
  width: 170px;
}
.courses-cart-name {
  font-size: 17px;
  color: #d6c9c1;
  margin: auto;
  max-width: 250px;
  text-align: center;
  padding: 5px;
  padding-bottom: 30px;
}
.price-cart {
  height: 60px;
  color: #d6c9c1;
  align-self: flex-end;
  justify-content: space-between;
  display: flex;
  font-size: 15px;
  padding-left: 10px;
  line-height: 0.2;
}
.price-home {
  height: 13px;
  align-self: center;
}

.quantity-trash {
  height: 20px;
  align-self: center;
  justify-content: space-between;
  display: flex;
}
.quantity-area{
  flex-grow: .4;
  font-size: 1em;
  color: #d6c9c1;

}

.courses-desc {
  display: none;
  margin: auto;
  max-width: 250px;
  text-align: justify;
  padding: 5px;
}
.container-product-description-payment-reviews {
  align-content: center;
}
.breadcrumbs {
  display: block;
  font-family: poppins;
  font-weight: bold;
}

.breadcrumbs span {
  text-align: center;
  font-size: 14px;
}
.product-title h2 {
  text-align: center;
}
.product-price,
.installments-payment {
  text-align: center;
}
.list-payment-methods {
  align-content: center;
  width: 100%;
  padding-bottom: 12px;
}

.payment-methods {
  width: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
}

.list-payment-methods img {
  width: 50px;
}

.product-description {
  font-family: poppins;
  font-weight: bold;
  text-align: left;
  padding: 20px;
}
.addtocart-btn-home {
  width: 150px;
  height: 30px;
  font-size: 15px;
  background-color: rgb(94, 201, 94);
  border: grey;
  border-radius: 15px;
}
.addtocart-btn {
  width: 180px;
  height: 50px;
  font-size: 20px;
  background-color: rgb(94, 201, 94);
  border: grey;
  border-radius: 25px;
}
.product-image img {
  width: 80%;
  padding: 10px;
}

.questions {
  margin: 15px;
}

.questions-and-comments textarea {
  border: 1px solid #d3d6db;
  width: 70%;
  height: 80px;
  padding: 8px;
}
.send-bottom {
  padding: 20px;
}
.main-footer {
  background-color: #d6c9c1;
  font-family: "antonio";
}

.container-footer-contact {
  height: auto;
  display: flex;
  width: 100%;
  padding: 15px 1px 15px 1px;
  align-items: center;
  justify-content: center;
}

.span4 {
  font-size: 20px;
  text-align: center;
  width: 300px;
}

.contact {
  font-family: "antonio";
  font-size: 18px;
}

.row {
  display: flex;
  justify-content: space-evenly;
}
.row i {
  font-size: 22px;
  color: black;
}

.footer-contact {
  font-size: 16px;
}

.container-footer-legal,
link {
  font-size: 14px;
  color: white;
}

.container-footer {
  height: auto;
  display: flex;
  width: 100%;
  padding: 15px 1px 15px 1px;
  align-items: center;
  justify-content: center;
}
.footer-logo img {
  width: 150px;
}

.link {
  color: white;
}

.email {
  color: black;
}

.reviews form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

.reviews form p {
  text-align: center;
}

.reviews form label {
  font-size: 20px;
}

.reviews input[type="radio"] {
  display: none;
}

.reviews label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}
.reviews label:hover,
label:hover ~ label {
  color: orange;
}

.reviews input[type="radio"]:checked ~ label {
  color: orange;
}

.blogin {
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: center;
  min-height: 100vh;
}
.mainlogin {
  width: 350px;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px rgb(204, 204, 204);
}
#chk {
  display: none;
}
.signup {
  position: relative;
  width: 100%;
  height: 100%;
}

.mainlogin label {
  color: #21cac5;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 50px;
  font-weight: bold;    
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.login input , 
.signup input {
  width: 60%;
  height: 20px;
  background: white;
  justify-content: center;
  margin: 16px auto;
  padding: 20px;
  border: none;

  outline: none;
  border-radius: 5px;
}
.signup button {
  width: 50%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  color: #424242;
  background: #ffbe59;
  font-size: 1em;
  font-weight: bold;
  margin-top: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.signup button:hover {
  background: rgb(94, 201, 94);


.errors {
  font-family: Arial, Helvetica, sans-serif;
  color: #d45050;
  font-size: 0.8em;
  position: relative;
  top: -35px;
  left: 100px;
  height: 0px;

}



@media (min-width: 576px) {
  main {
    padding: 75px 7px 30px 7px;
  }
  .signup button {
    width: 50%;
  }
}

@media (min-width: 768px) {
  main {
    padding: 100px 7px 30px 7px;
  }
  .main-header-right {
    font-size: 2.5vw;
    width: 25vw;
  }
  .product-image img {
    width: 450px;
  }
  .mainlogin {
    width: 490px;
  }
  /* <<<<<<< HEAD */
  .signup button {
    width: 53%;
  }

  @media (min-width: 576px) {
    main {
      padding: 75px 7px 30px 7px;
    }
  }

  @media (min-width: 768px) {
    main {
      padding: 100px 7px 30px 7px;
    }
    .main-header-right {
      font-size: 2.5vw;
      width: 25vw;
    }
    .product-image img {
      width: 450px;
    }
    /* >>>>>>> 4abd77eb586df7e00049941399bb878360571261 */
  }
  @media (min-width: 992px) {
    main {
      padding: 125px 7px 30px 7px;
    }
    .main-header-right {
      font-size: 1.5vw;
      width: 15vw;
    }
    .mainlogin {
      width: 490px;
    }
    .signup button {
      width: 53%;
    }
  }

  @media (min-width: 1200px) {
    main {
      padding: 150px 7px 30px 7px;
    }
    .container-footer-legal,
    link {
      font-size: 17px;
      color: white;
    }

    .main-header-right {
      font-size: 1vw;
      width: 10vw;
    }
    .mainlogin {
      width: 490px;
    }
    .signup button {
      width: 53%;
    }
  }
}
