* {
  box-sizing: border-box;
}

.banner img {
  width: 100%;
  max-width: 1100px;
  padding: 15px;
}
.courses {
  margin: auto;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px;
  max-width: 1250px;
}

.courses-images {
  width: 100%;
  background-color: #fff4e4;
  align-items: stretch;
  justify-content: center;
  border: #fff4e4 4px solid;
  border-radius: 8px;
  padding: 10px;
  max-width: 250px;
}

.price-home {
  height: 13px;
  align-self: center;
}

.courses-desc {
  display: none;
  margin: auto;
  max-width: 250px;
  text-align: justify;
  padding: 5px;
}

.addtocart-btn-home {
  width: 150px;
  height: 30px;
  font-size: 15px;
  background-color: rgb(94, 201, 94);
  border: grey;
  border-radius: 15px;
}
.addtocart-btn {
  width: 180px;
  height: 50px;
  font-size: 20px;
  background-color: rgb(94, 201, 94);
  border: grey;
  border-radius: 25px;
}

.reviews label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 55vh;
  border-radius: 50px;
  color: #fff;
  flex: 0.5;
  margin: 9px;
  position: relative;
  transition: flex 0.7s ease-out;
}

.panel h3 {
  color: red;
  font-size: 24px;
  position: relative;
  top: 20px;
  right: 200px;
  margin: 0;
  opacity: 0%;
}

.panel.active {
  flex: 3;
}

.panel.active h3 {
  opacity: 100%;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}

.carousel {
  width: 100vw;
  height: 70vh;
  position: relative;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  padding-bottom: 50px;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 2rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
}

.carousel-button:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}
