* {
  box-sizing: border-box;
}


.courses {
  margin: auto;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px;
  max-width: 1250px;
}
.courses-cart {
  margin: auto;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px;
  text-decoration: none;
}

.prod-name{
  list-style:none;
}
.shopping-cart-title {
  color: white;
  font-size: 1.5em;
  font-weight: bold;    
  background-color: #d6c9c169;
  text-align: center;
  margin-top: 25px;
  padding: 4px;
  box-shadow: 0px 3px 10px rgba(100, 100, 100, 0.37);
  border-radius: 5px;
}

.shopping-cart-body {
  color: white;
  font-size: 1.5em;
  font-weight: bold;    
  background-color: #d6c9c169;
  text-align: center;
  margin-top: 25px;
  padding: 4px;
  display: "flex";
  box-shadow: 0px 3px 10px rgba(100, 100, 100, 0.37);
  border-radius: 5px;
}
.courses-images {
  width: 100%;
  background-color: #fff4e4;
  align-items: stretch;
  justify-content: center;
  border: #fff4e4 4px solid;
  border-radius: 8px;
  padding: 10px;
  max-width: 250px;
}
.courses-images-cart {
  width: 120px;
  height: 120px;
  background-color: #fff4e4;
  align-items: stretch;
  justify-content: left;
  border: #fff4e4 4px solid;
  border-radius: 8px;
}
.courses-cart-item {
  margin: auto;
  width: 100%;
  margin: 4px;
  color: #d6c9c1;
  max-height: 140px;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 10px;
  box-shadow: 0px 3px 10px rgba(100, 100, 100, 0.527);
  border-radius: 12px;
  
}

.button{
  font-size: 17px;
}

.buttonIn{
  border-radius: 15px;
  border-color: #d6c9c1;
  font-size: 12px;
  width: 90px;
  height: 30px;
  color: white;
  align-items: center;
  background-color:#d6c9c1;

}
.courses-cart-descrip {
  width: 170px;
}
.courses-cart-name {
  font-size: 20px;
  color: #d6c9c1;
  max-width: 150;
  text-align: center;
  padding: 5px; 
}

.price-cart {
  height: 70px;
  color: #d6c9c1;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
  font-size: 15px;
  line-height: 0.2;
  padding-right: 25px ;
}







