* {
  box-sizing: border-box;
}

.main-header {
  background-color: #d6c9c1;
  font-family: "antonio";
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1px 20px 1px 1px;
  position: fixed;
  z-index: 10;
  border-radius: 0% 0% 15% 15%;
}

.logo-header {
  width: 40%;
}

.main-header-right {
  display: flex;
  font-size: 3.5vw;
  width: 80vw;
  justify-content: space-around;
  align-items: center;
  list-style:none;
}

.main-header-right i {
  color: white;
}

main {
  margin: auto;
  background-color: white;
  font-family: "antonio";
  display: flex;
  text-align: center;
  width: 100%;
  padding: 50px 7px 30px 7px;
}


.hidden .link {
  display: none;
}

 .hidden:hover .link{
  display: block;
}
.hidden:hover .fa-bars{
  display: none;
}


.main-footer {
  background-color: #d6c9c1;
  font-family: "antonio";
}

.container-footer-contact {
  height: auto;
  display: flex;
  width: 100%;
  padding: 15px 1px 15px 1px;
  align-items: center;
  justify-content: center;
}

.span4 {
  font-size: 20px;
  text-align: center;
  width: 300px;
}

.contact {
  font-family: "antonio";
  font-size: 18px;
}

.row {
  display: flex;
  justify-content: space-evenly;
}
.row i {
  font-size: 22px;
  color: black;
}

.footer-contact {
  font-size: 16px;
}

.container-footer-legal,
link {
  font-size: 14px;
  color: white;
}

.container-footer {
  height: auto;
  display: flex;
  width: 100%;
  padding: 15px 1px 15px 1px;
  align-items: center;
  justify-content: center;
}
.footer-logo img {
  width: 150px;
}

.link {
  color: white;
}

.email {
  color: black;
}

.reviews form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

.reviews form p {
  text-align: center;
}

.reviews form label {
  font-size: 20px;
}

.reviews input[type="radio"] {
  display: none;
}

.reviews label {
  color: grey;
}


.reviews label:hover,
label:hover ~ label {
  color: orange;
}

.reviews input[type="radio"]:checked ~ label {
  color: orange;
}



@media (min-width: 576px) {
  main {
    padding: 75px 7px 30px 7px;
  }
  .signup button {
    width: 50%;
  }
}

@media (min-width: 768px) {
  main {
    padding: 100px 7px 30px 7px;
  }
  .main-header-right {
    font-size: 2.5vw;
    width: 25vw;
  }
  .product-image img {
    width: 450px;
  }
  .mainlogin {
    width: 490px;
  }
  /* <<<<<<< HEAD */
  .signup button {
    width: 53%;
  }

  @media (min-width: 576px) {
    main {
      padding: 75px 7px 30px 7px;
    }
  }

  @media (min-width: 768px) {
    main {
      padding: 100px 7px 30px 7px;
    }
    .main-header-right {
      font-size: 2.5vw;
      width: 25vw;
    }
    .product-image img {
      width: 450px;
    }
    /* >>>>>>> 4abd77eb586df7e00049941399bb878360571261 */
  }
  @media (min-width: 992px) {
    main {
      padding: 125px 7px 30px 7px;
    }
    .main-header-right {
      font-size: 1.5vw;
      width: 15vw;
    }
    .mainlogin {
      width: 490px;
    }
    .signup button {
      width: 53%;
    }
  }

  @media (min-width: 1200px) {
    main {
      padding: 150px 7px 30px 7px;
    }
    .container-footer-legal,
    link {
      font-size: 17px;
      color: white;
    }

    .main-header-right {
      font-size: 1vw;
      width: 10vw;
    }
    .mainlogin {
      width: 490px;
    }
    .signup button {
      width: 53%;
    }
  }
}
