* {
  box-sizing: border-box;
}
.blogin {
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: center;
  min-height: 100vh;
}
.mainlogin {
  width: 350px;
  height: 800px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px rgb(204, 204, 204);
}
#chk {
  display: none;
}
.signup {
  position: relative;
  width: 100%;
  height: 100%;
}


.createImage{
  display: flex;
  width: 100%;
  height: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 60px;
  margin-top: 20px;

}
.btn-file {
  position: absolute;
  font-size: 16px;
  box-shadow: 0px 3px 10px rgba(100, 100, 100, 0.37);
  height: 25px;
  width: 140px;
  border-radius: 5px;
  background-color: #d6c9c1;
  transition: 0.3s;
  align-content: center;
  padding-top: 2px;
  color: white;
}

.btn-file .btn-file-input {
  position: absolute;
  margin-top: -20px;
  right: 0;
  width: 140px;
  height: 10px;
  text-align: center;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
}

.btn-file :hover {
  text-shadow:0px 3px 10px rgba(100, 100, 100, 0.37);
  box-shadow: 0px 3px 10px rgba(37, 37, 37, 0.37);
}
.mainlogin .label-create {
  color: #21cac5;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin-top: 60px;
  margin-bottom: 20px;
  font-weight: bold;    
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.login input , 
.signup input {
  width: 60%;
  height: 20px;
  background: white;
  justify-content: center;
  margin: 16px auto;
  padding: 20px;
  border: none;

  outline: none;
  border-radius: 5px;
}
.signup button,
.login button {
  width: 50%;
  height: 40px;
  justify-content: center;
  color: #424242;
  background: #ffbe59;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.signup button:hover {
  background: rgb(94, 201, 94);
}
.login {
  height: 460px;
  background: #21cac5;
  opacity: 100%;
  border-radius: 80% / 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}
.login .label-create {
  color: rgb(255, 255, 255);
  transform: scale(0.6);
  padding-top: 10px;
}

#chk:checked ~ .login {
  transform: translateY(-500px);
}
#chk:checked ~ .login label {
  transform: scale(1);
}
#chk:checked ~ .signup label {
  transform: scale(0.6);
}


@media (min-width: 576px) {
   
}

@media (min-width: 768px) {
 
}
@media (min-width: 992px) {
  
}

@media (min-width: 1200px) {
 
}

