
*{
    box-sizing: border-box
}

.main-header{
        background-color: palegoldenrod;
        font-family: "antonio";
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 1px 20px 1px 1px
    }

.logo-header {
    width: 40%
}

.main-header-right{
    display: flex;
    font-size: 20px;
    width: 120px;
    justify-content: space-between;
    align-items: center
}

main {
    background-color: white;
    font-family: "antonio";
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
}
.banner{
    width: 100%;
    justify-content: center;
}

.courses{
    width: 100%; 
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    max-width: 200px;
    
}
.courses-images{
    width: 50%;
    background-color: #FFF4E4;
    align-items: stretch;
    justify-content: center;
    border:  #FFF4E4 4px solid;
    border-radius: 8px;
    padding: 10px;
    max-width: 200px;

}
.main-footer {
    background-color: palegoldenrod;
    font-family: "antonio"
}

.container-footer-contact{
    display: flex;
    height: auto;
    text-align: center;
    justify-content: space-between;
    padding: 1px 1px 5px 1px
    
}

.span4 {
    font-size: 20px;
    text-align: center;
    width: 50%;

}

.contact {
    font-family: "antonio";
    font-size: 18px

}

.row { 
    display: flex;
    justify-content: space-evenly
}
.row i{
    font-size: 22px  
}

.footer-contact{
    font-size: 16px
}

.container-footer-legal, link{  
font-size: 14px
}

.container-footer {
    height: auto;
    display:flex;
    width: 100%;
    padding: 15px 1px 15px 1px;
    align-items: center;
    justify-content: center
}
.footer-logo img{
   width: 200px
}



