* {
  box-sizing: border-box;
}

.banner img {
  width: 100%;
  max-width: 1100px;
  padding: 15px;
}
.courses {
  margin: auto;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px;
  max-width: 1250px;
}

.courses-images {
  width: 100%;
  background-color: #fff4e4;
  align-items: stretch;
  justify-content: center;
  border: #fff4e4 4px solid;
  border-radius: 8px;
  padding: 10px;
  max-width: 250px;
}

.price-home {
  height: 13px;
  align-self: center;
}

.courses-desc {
  display: none;
  margin: auto;
  max-width: 250px;
  text-align: justify;
  padding: 5px;
}

.addtocart-btn-home {
  width: 150px;
  height: 30px;
  font-size: 15px;
  background-color: rgb(94, 201, 94);
  border: grey;
  border-radius: 15px;
}
.addtocart-btn {
  width: 180px;
  height: 50px;
  font-size: 20px;
  background-color: rgb(94, 201, 94);
  border: grey;
  border-radius: 25px;
}


.reviews label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}





