
*{
    box-sizing: border-box
}

.main-header{
        background-color: #d6c9c1;
        font-family: "antonio";
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 1px 20px 1px 1px;
        position: fixed;
 }

.logo-header {
    width: 40%
}

.main-header-right{
    display: flex;
    font-size: 12px;
    width: 120px;
    justify-content: space-around;
    align-items: center;
}
.main-header-right i{
    
    color:white
}
main {
    margin:auto;
    background-color: white;
    font-family: "antonio";
    display: flex;
    text-align: center;
    width: 100%;
    padding: 25px 7px 30px 7px;
}
.banner img{
   
    width: 100%;
    padding: 15px;
}

.courses{
    margin:auto;
    width: 100%;    
    text-align: center;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    padding: 15px;
}
.courses-images{
    width: 100%;
    background-color: #FFF4E4;
    align-items: stretch;
    justify-content: center;
    border:  #FFF4E4 4px solid;
    border-radius: 8px;
    padding: 10px;
    max-width: 250px;

}
.courses-desc{
    margin: auto;
    max-width: 250px;
    text-align: justify;
    padding: 10px;
}
.main-footer {
    background-color: #d6c9c1;
    font-family: "antonio"
}

.container-footer-contact{
    display: flex;
    height: auto;
    text-align: center;
    justify-content: space-between;
    padding: 1px 1px 5px 1px
    
}

.span4 {
    font-size: 20px;
    text-align: center;
    width: 50%;

}

.contact {
    font-family: "antonio";
    font-size: 18px

}

.row { 
    display: flex;
    justify-content: space-evenly
}
.row i{
    font-size: 22px  
}

.footer-contact{
    font-size: 16px
}

.container-footer-legal, link{  
font-size: 14px
}


.container-footer {
    height: auto;
    display:flex;
    width: 100%;
    padding: 15px 1px 15px 1px;
    align-items: center;
    justify-content: center
}
.footer-logo img{
   width: 200px
}



