<div class="main-footer">
    <div class="container-footer-contact">
        <div class="span4">
            <p class="contact">Redes Sociales</p>
            <div class="row">
                <a class="link-instagram" href="https://www.instagram.com/">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="link-facebook" href="https://es-la.facebook.com/">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="link-twitter" href="https://twitter.com/?lang=es">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
        </div>
        <div class="span4">
            <p class="contact">Contactanos</p>
            <div class="footer-contact">
                <i class="fas fa-phone-alt"></i> 541156667777
                <div class="email">
                    <i class="fas fa-envelope"></i>
                    <a class="email" href="mailto:deconstruct@gmail.com">deconstruct@gmail.com</a>
                </div>
            </div>
        </div>

    </div>
    <div class="container-footer">
        <div class="footer-logo">
            <img src="/images/logo-deconstruct (500 × 250 px) (1).png">
        </div> 
        <div class="container-footer-legal">
             <div>Copyright deconstruct  - 2022. Todos los derechos reservados.</div>
             <div>Defensa de las y los consumidores. Para reclamos 
                 <a class="link" href="https://www.argentina.gob.ar/produccion/defensadelconsumidor/formulario">ingrese aquí</a>           
             </div>
         </div>
    </div>