<header class="main-header">
    <div >    
        <img class="logo-header" src="/images/logo-deconstruct (500 × 250 px) (1).png" alt="Logo de Deconstruct">
    </div>
    <nav class="main-header-right">
        <li>
           <a href="#" class="search-button"></a>
           <i class="fas fa-search"></i>  
        </li>
        <li> 
           <a href="../users/login.ejs" class="user-button"></a>
           <i class="fas fa-user"></i>
        </li>
        <li>
            <a href="#" class="shopping-cart"></a> 
            <i class="fas fa-shopping-cart"></i>      
        </li>
        <li > 
            <a href="#" ></a>
            <i class="fas fa-bars"></i>
            <div  class="hidden">
                <ul>
                    <li><a href="#" >FAQ</a></li>  
                    <li><a href="#" >FAQ</a></li> 
                    <li><a href="#" >FAQ</a></li> 
                </ul>
            </div>   
        </li>
      

    </nav>        
</header>