<script src="/js/shoppingCart.js"></script>
<header class="main-header">
    <div >    
        <a href="/" class="shopping-cart">
            <img class="logo-header" src="/images/logo-deconstruct (500 × 250 px) (1).png" alt="Logo de Deconstruct">
        </a>
    </div>
    <nav class="main-header-right">
        <li>
           <a href="#" class="search-button"></a>
           <i class="fas fa-search"></i>  
        </li>
        <% if (locals.isLogged) {%>
            <div class="burger">
                <h3>Hola <%= locals.userLogged.name%> </h3>
                <div class="hidden" >
                    <ul class="link"> 
                        <li ><a href="/users/profile" >Perfil</a></li> 
                        <li ><a href="/users/logout" >Logout</a></li>
                    </ul>
                </div>
            </div>
        <% } else { %>
            <li>
                <a href="/users"  class="shopping-cart"><i class="fas fa-user"></i> </a>       
            </li>  
        <% } %>
        <li class="shopping-cart-icon">
            <a href="/shopping-cart" class="shopping-cart"><i class="fas fa-shopping-cart"></i> </a>  
            <div class="counter">
                
            </div>     
        </li>
        <div class="burger"> 
            <i class="fas fa-bars"></i>
            <div  class="hidden" >
                <ul class="link"> 
                    <li ><a href="#" >FAQ</a></li>
                    <% if (locals.isLogged) {%>  
                    <li ><a href="/products/create" >Crear Producto</a></li> 
                    <% } else { %>
                    <li ><a href="/users/register">Crear Producto</a>
                    <% } %>   
                    <li ><a href="/products" >Productos</a></li> 
                </ul>
            </div> 
        </div>
      

    </nav> 
          
</header>

