<header class="main-header">
    <div >    
        <a href="/" class="shopping-cart">
            <img class="logo-header" src="/images/logo-deconstruct (500 × 250 px) (1).png" alt="Logo de Deconstruct">
        </a>
    </div>
    <nav class="main-header-right">
        <li>
           <a href="#" class="search-button"></a>
           <i class="fas fa-search"></i>  
        </li>
        <li> 
           <a href="/users" class="user-button"><i class="fas fa-user"></i></a>  
        </li>
        <li>
            <a href="/shopping-cart" class="shopping-cart"><i class="fas fa-shopping-cart"></i> </a>       
        </li>
        <div class="hidden"> 
            <i class="fas fa-bars"></i>
            <div  >
                <ul class="link"> 
                    <li ><a href="#" >FAQ</a></li>  
                    <li ><a href="/products/create" >Crear Producto</a></li> 
                    <li ><a href="/products" >Productos</a></li> 
                </ul>
            </div>   
        </div>
      

    </nav>        
</header>